.form_actions {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--secondary);
  gap: 16px;
  margin-top: 8px;
}

.form_actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.form_actions a:hover {
  text-decoration: underline;
  color: var(--primary-dark);
}

.form_row {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
