@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

:root {
  --primary: #9d4edd;
  --primary-dark: #5a189a;
  --secondary: #1d1d1d;
  --google-background: #e9e9e9;
  --google-background-hover: #dddddd;
  --text: #1f2346;
  --white: #ffffff;
  --dark-violet: #240046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../background.avif');
  font-size: 16px;
  font-family: 'Pathway Extreme', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  height: fit-content;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
