@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

:root {
  --primary: #9d4edd;
  --primary-dark: #5a189a;
  --secondary: #1d1d1d;
  --google-background: #e4e4e4;
  --google-background-hover: #ebfc0060;
  --text: #1f2346;
  --white: #ffffff;
  --dark-violet: #240046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../background.avif');
  font-size: 16px;
  font-family: 'Pathway Extreme', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  width: 100%;
  min-width: 350px;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: height 0.3s ease-in;
}

.login_header {
  text-align: center;
}

.login_header img {
  width: 100px;
  height: 100px;
  border-radius: 99px;
}

/* Form */
.form_actions {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--secondary);
  gap: 16px;
  margin-top: 8px;
  min-width: 350px;
}

.form_actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.form_actions a:hover {
  text-decoration: underline;
  color: var(--primary-dark);
}

.form_row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* Loader */
.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  border: 4px solid var(--text);
  box-sizing: border-box;
  animation: fill 3s linear infinite alternate;
  color: var(--primary-dark);
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid var(--text);
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -80px inset;
  }
}

/* Buttons */
.google_row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.google_row img {
  width: 24px;
  height: 24px;
}

.google_row button {
  background-color: var(--google-background);
  color: var(--text);
  width: 100%;
  min-height: 48px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in;
}

.google_row button:hover {
  background-color: var(--google-background-hover);
}

.form_button {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  line-height: 50px;
  outline: none;
  font-size: 18px;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.form_button:hover {
  background-color: var(--primary-dark);
}

.form_button:disabled {
  background-color: var(--primary);
  cursor: default;
}
